//Обнуление
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: P7;
}

$btn-c: #F16214;
$text-c: #888888;

//Контейнер
.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}